@rendermode InteractiveServer
@*
    Whenver a new page is created, add the nav in the logged in nav section or dr logged in nav section.
*@

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DAS</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        @if (profileType == "Non-User")
        {
            @* <p>Hello New User</p> *@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Login
                </NavLink>
            </div>
        }




        @*Once auth is figured out, put the condition in the if statement to check which profile type is logged in. *@
        @*Change if statement below to check if any profile is logged in.*@

        @if (profileType == "Patient" || profileType == "Associate" || profileType == "Doctor" || profileType ==
        "Admin")
        {
            @* <h1>Hello @profileType</h1> *@
            @*Logged in Nav Items will go here*@
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>


        }


        @* if statement to check if Patient is logged in*@
        @if (profileType == "Patient")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Available Appointments
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="createAppointment">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Appointment
                </NavLink>
            </div>


            <div class="nav-item px-3">
                <NavLink class="nav-link" href="addGroupMember">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Add Group Member
                </NavLink>
            </div>

        }

        @* if statement to check if DR or Asscociate is logged in*@
        @if (profileType == "Associate" || profileType == "Doctor")
        {

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="home">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Available Appointments
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="sp-create-appointment">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create Appointment
                </NavLink>
            </div>


        }

        @*if statement to check if Admin is logged in*@
        @if (profileType == "Admin")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="createAccountSP">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Create New S.P.
                </NavLink>
            </div>

        }


    </nav>
</div>

@code {

    private string profileType = "Non-User";

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var profile = await UserService.GetLoggedInUser();
            if (profile != null)
            {
                profileType = profile.Type;
                //Console.WriteLine($"//////////////////// from the nav bar ---> profiletype is ... {profileType}");
                StateHasChanged();

            }
        }

    }


}