@page "/availableAppointments"
@using DAS.Components.PatientComponents.Account

<PageTitle>Available Appointments</PageTitle>

<h1>Available Appointments</h1>
@* <LoginForm /> *@
<AvailableAppointmentsToday />