@page "/Dashboard"
@using DAS.Components.PatientComponents

<PageTitle>Dashboard</PageTitle>

<h1>This will be the Dashboard page. Depending on who is logged in</h1>

<h2>User</h2>
<PatientDashboard />

@* <h2>Associate</h2>

<h2>Doctor</h2> *@
