@page "/login"
@using DAS.Components
@using DAS.Components.PatientComponents.Account
@inject AuthService AuthService
@inject UserService UserService
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>Login Portal</PageTitle>

@* <h1>Login Portal</h1> *@

<div class="card">
    <LoginForm />
</div>
