@using DAS.Components.ServiceProviderComponents.Account
@using DAS.Components.ServiceProviderComponents.Appointment
@using DAS.Components.PatientComponents.Account
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<PageTitle>SP Dashboard</PageTitle>

<div class="dashboard-container">
    <div class="card">
        <SPProfile />
    </div>
</div>


<div class="dashboard-container">
    <div class="card">
        <SPAppointmentList />
    </div>
</div>

<div class="dashboard-container">
    <div class="card">
        <button @onclick="ToggleAppointments" class="btn btn-primary mb-2">
            @(showAvailableAppointments ? "Hide Available Appointments" : "Show Available Appointments")
        </button>
        @if (showAvailableAppointments)
        {
            <AvailableAppointmentsToday />
        }
    </div>
</div>

<div class="dashboard-container">
    <div class="card">
        <PatientList/>
    </div>
</div>



@code {

    public int userId = -1;

    private bool showAvailableAppointments = false;

    private void ToggleAppointments()
    {
        showAvailableAppointments = !showAvailableAppointments;
    }


}